{% extends 'base.html' %}

{% block title %}
Talesword: Отзывы
{% endblock %}

{% block body %}
<h1>Здесь будут отзывы + переход на написание/редактирования своего отзыва (публикуется отзывы)</h1>
{% if not feedback_created %}
	<a class="btn btn-primary" href="/feedbacks/write" role="button">
    	Написать отзыв
	</a>
{% else %}
	<a class="btn btn-primary" href="/feedbacks/edit" role="button">
    	Редактировать отзыв
	</a>
{% endif %}
<h1>Отзывы пользователей</h1>
{% for item in feedback %}
        <div>
        	<h4>Пользователь {{ item["user_id"] }}</h4>
        	{{ item["feedback"] }}
        </div>
{% endfor %}
{% endblock %}